* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #003f5c;
  color: white;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem auto;
  /* max-width: 50%; */
}

img {
  height: 400px;
  width: 400px;
  margin: 1.5rem;
}

audio {
  width: 400px;
}

#btn__start {
  background-color: #58508d;
  color: white;
  font-size: 4.5rem;
  padding: 5rem;
  border-radius: 45px;
  margin: 12vh auto;
}

.start__h1 {
  font-size: 3.5rem;
}

/* .fa-microphone {
  font-size: 1.5rem;
  color: black;
  height: 1.5rem;
} */

.fas {
  /* background-color: white; */
  height: 20px;
  width: 2rem;
}

.button{
  background-color: #58508d;
  color: white;
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  border-radius: 45px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* body {
  font-family: "Montserrat", sans-serif;
  background-color: #025677;
  color: #fff;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

#search-form {
  margin: 2rem;
}

#search-form input {
  height: 4rem;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

#search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}

.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

/* i.fas.microphone {
  background-color: red;
  color: red;
} */
/* 
@media (max-width: 1200px) {
  #search-form { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  #search-form { width: 100%; }
  .info { font-size: 0.5rem; }
} */
